<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Contas</title>
    </head>
    <body>
        <h1>Lista de Contas</h1>
        <ul>
            {% for conta in contas %}
            <li>
                <strong>Nome Titular:</strong> {{conta.nome_titular}}<br>
                <strong>Banco:</strong> {{conta.banco}}<br>
                <strong>Agencia:</strong> {{conta.agencia}}<br>
                <strong>Numero da Conta:</strong> {{conta.conta}}<br>
                <strong>Saldo:</strong> {{conta.saldo}}<br>
            </li>
            {% endfor %}
        </ul>
        <button onclick="window.location.href='/conta/criar/{{ categoria.id }}/'" class="btn btn-primary">Criar Nova Conta</button>
    </body>
</html>